* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Cinzel";
    width: 100%;
    background-color: #FDFDFD;
}

p {
    font-family: "Playfair Display";
    font-size: 1.3em;
    color: #4E4E4E;
}

a {
    cursor: pointer;
    color: black;
}

.mt {
    margin-top: 20px;
}

.top-nav {
    width: 100%;
    height: 190px;
    background-color: #FFCCC9;
    border-bottom: 2px solid #8a8a8a;
    z-index: 100;
}

.logo-container {
    position: absolute;
    left: 50%;
    margin-left: -161px;
    top: 20px;
    font-family: "Parisienne";
    text-align: center;
}

.logo-container h2 {
    font-size: 3.9em;
    font-weight: normal;
}

#essex {
    font-family: "Cinzel";
    font-size: 12px;
    letter-spacing: 7px;
    margin-top: 20px;
    font-weight: bold;
}

#dot {
    height: 5px;
    width: 5px;
    border-radius: 100%;
    background-color: #404040;
    position: absolute;
    left: 50%;
    margin-left: -2.5px;
    margin-top: 5px;
}

#nav-logo-sml {
    font-family: "Cinzel";
    font-size: 22px;
    letter-spacing: 4px;
    line-height: 10px;
}

#nav-links a {
    font-family: "playfair Display";
    color: black;
    font-size: 1.3em;
    margin: 0 25px;
    transition: all .1s ease-in-out;
    font-weight: bold;
}

#nav-links a:hover {
    color: white;
}


.links {
    display: flex;
    color: black;
    margin: 0;
    position: absolute;
    color: black;
    left : -380px;
    top: 60px;
    font-weight: bold;
}

.links-right {
    display: flex;
    color: black;
    margin: 0;
    position: absolute;
    color: black;
    left: 380px;
    top: 60px;
    font-weight: bold;
}

#services a {
    padding-bottom: 20px;
}

#dropdown {
    position: absolute;
    flex-direction: row;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 310px;
    background-color: rgb(255, 229, 227);
    z-index: 50;
    font-family: "Playfair Display";
    font-size: 1em;
    border-bottom: 2px solid #373737;
    z-index: 5;
    transition: all .2s ease;
}

#dropdown-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 85%;
    margin: 20px auto;
}

#dropdown-title {
    font-size: 1.7em;
    font-family: "Lobster Two";
    position: relative;
    top: -50px;
    width: 100%;
}

.dropdown-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 300px;
    margin-top: 20px;
}

.dropdown-box p {
    position: absolute;
    bottom: 30px;
    color: black;
    font-size: 18px;
    margin-top: 0;
    width: 350px;
}

.dropdown-divider {
    width: 3px;
    background-color: #373737;
    height: 250px;
    margin-top: 10px;
}

.dropdown:hover {
    display: block;
}

.dropdown a {
    padding: 16px 0; 
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.dropdown a:hover {
    color: #000000;
}

#services:hover #drop-arrow span {
    background-color: rgb(255, 255, 255);
}

#drop-arrow {
    cursor: pointer;
}

#drop-arrow span:nth-child(2) {
    position: absolute;
    left: 225px;
    top: 11px;
    background-color: rgb(0, 0, 0);
    height: 13px;
    width: 2px;
    transform: rotate(40deg);
    border-radius: 10px;
    transition: all .3s ease;
}

#drop-arrow span:nth-child(1) {
    position: absolute;
    left: 218px;
    top: 11px;
    background-color: rgb(0, 0, 0);
    height: 13px;
    width: 2px;
    transform: rotate(-40deg);
    border-radius: 10px;
}


/* social dropdown*/
#socials:hover ~ .socials-dropdown {
    display: block;
}

#socials {
    padding-bottom: 150px;
}

.socials-dropdown {
    position: absolute;
    display: none;
    margin-top: 112px;
    width: 440px;
    height: 120px;
    background-color: rgb(255, 229, 227);
    z-index: 50;
    font-family: "Playfair Display";
    font-size: 1em;
    justify-content: center;
    border-bottom: 2px solid #373737;
    z-index: 5;
    text-align: center;
    transition: all .2s ease;
}

.socials-dropdown:hover {
    display: block;
    opacity: 1;
}

.socials-dropdown li {
    padding: 16px 0; 
    cursor: pointer;
}

.socials-dropdown a:hover {
    color: #000000;
}

.socials-dropdown li:hover {
    background-color: rgb(255, 244, 244);
}

#socials:hover #socials-drop-arrow span {
    background-color: rgb(255, 255, 255);
}

#socials-drop-arrow span:nth-child(2) {
    position: absolute;
    left: 337px;
    top: 11px;
    background-color: rgb(0, 0, 0);
    height: 13px;
    width: 2px;
    transform: rotate(40deg);
    border-radius: 10px;
    transition: all .3s ease;
}

#socials-drop-arrow span:nth-child(1) {
    position: absolute;
    left: 330px;
    top: 11px;
    background-color: rgb(0, 0, 0);
    height: 13px;
    width: 2px;
    transform: rotate(-40deg);
    border-radius: 10px;
}

.social-icons-box{
    position: absolute;
    top: 40px;
    right: 40px;
    display: flex;
    display: none;
}

.social-icons {
    height: 40px;
    width: 40px;
    margin: 0 10px;
}

/* burger menu
------------------------------------------ */
.menu-wrap {
    position: absolute;
    top: 25px;
    left: 120px;
    z-index: 150;
    display: none;
}

.menu-wrap .toggler {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 151;
    width: 50px;
    height: 50px;
    opacity: 0;
    cursor: pointer;
}

.menu-wrap .hamburger {
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 150;
    width: 40px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* hamburger line */
.menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: all .4s ease;
}

.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
    content: "";
    position: absolute;
    z-index: 150;
    top: -10px;
    width: 100%;
    height: 4px;
    background: inherit;
    border-radius: 5px;
}

.menu-wrap .hamburger > div::after {
    top: 10px;
}

/* toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}

/* turn lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before, 
.menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}

/* rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div{
    transform: rotate(225deg);
}

/* show menu */
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.75s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity .4s ease;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.menu-wrap .menu > div {
    background-color: #FFCCC9;
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all .4s ease;
}

.menu-wrap .menu > div > div {
    margin-top: 35px;
    text-align: center;
    max-width: 100%;
    max-height: 100vh;
    opacity: 0;
    transition: opacity .4s ease;
}

#burger-header {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.menu li {
    padding: .2rem;
    font-size: 1.4em;
}

#burger-links li {
    margin-bottom: 8px;
}

#burger-footer {
    font-size: 1em;
    margin-top: 20px;
}

.menu a {
    color: #272727;
    font-weight: bold;
    font-family: "Playfair Display";
}

.menu a:hover {
    color: white;
    transition: color .1s ease-in-out;
    font-weight: bold;
}

.menu li img {
    height: 25px;
    width: 25px;
    
}

.banner {
    position: relative;
    width: 100%;
    height: auto;
}

.mobile-banner {
    display: none;
    width: 100%;

}

.mobile-banner img {
    width: 100%;
    height: auto;
}
.banner img {
    width: 100%;
    height: auto;
    z-index: -5;
}

.button {
    position: relative;
    left: 16%;
    top: -180px;
    background: #FFBCB8;
    border: 3px solid #666666;
    box-sizing: border-box;
    height: 68px;
    width: 20%;
    font-family: "Lobster Two";
    font-size: 1.5vw;
    cursor: pointer;
    z-index: 1;
}

#mobile-button {
    display: none;
    margin: 20px auto;
    text-align: center;
    line-height: 32px;
    top: 500px;
    background: #FFBCB8;
    border: 3px solid #666666;
    box-sizing: border-box;
    height: 40px;
    width: 130px;
    font-family: "Lobster Two";
    font-size: 1.2em;
    cursor: pointer;
    z-index: 1;
}

.button div:nth-child(1) {
    position: absolute;
    right: 31px;
    top: 20px;
    height: 15px;
    width: 2px;
    background-color: black;
    transform: rotate(-50deg);
}

.button div:nth-child(2) {
    position: absolute;
    right: 31px;
    top: 22px;
    height: 15px;
    width: 2px;
    background-color: black;
    transform: rotate(50deg);
    margin-top: 7px;
}

.button:hover {
    background: #D2EAFF;
    transition: all .3s ease;
}

.intro-text {
    width: 70%;
    font-family: "Playfair Display";
    text-align: center;
    margin: 0 auto 70px;
    line-height: 40px;
}

.intro-text p {
    font-size: 1.3em;

}

.footer {
    height: 230px;
    width: 100%;
    background-color: #FFCCC9;
    border-top: 2px solid rgb(95, 95, 95);
}

#footer-container {
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
    position: relative;
}

#footer-signiture {
    font-family: "Parisienne";
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 15px;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -96px;
}

.footer-link-box {
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -245px;
    display: flex;
}

.footer-link-box p {
    font-family: "Playfair Display";
    font-weight: normal;
    font-size: 1.1em;
    color: black;
    transition: all 0.2s ease-in-out;
    margin: 0 10px;
}
.footer-link-box p:hover {
    color: white;
}

.social-icons-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 120px;
}

.social-icons-footer img {
    height: 45px;
    width: 45px;
}

#footer-container h2 {
    font-family: "Parisienne";
    font-weight: normal;
    font-size: 36px;
    position: absolute;
    left: 50%;
    margin-left: -241px;
    top: 130px;
}

#footer-container h5 {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    left: 50%;
    margin-left: -212px;
    top: 195px;
}

#section-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px 10%;
    background-color: rgb(255, 232, 231);
} 

#section-1 img {
    width: 30%;
    height: 100%;
}

#section-1-text {
    width: 30%;
}

#section-1-text h1 {
    font-size: 4.5vw;
    font-family: "Playfair Display";
    line-height: 50px;
    margin-bottom: 10%;
}

#section-1-text p {
    font-family: "Playfair Display";
    font-size: 1.4vw;
}

#section-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px 10%;
    background-color: rgb(234, 245, 255);
}

#section-2 img {
    width: 30%;
    height: 100%;
}

#section-2-text {
    width: 30%;
}

#section-2-text h1 {
    text-align: right;
    font-size: 4.5vw;
    font-family: "Playfair Display";
    line-height: 50px;
    margin-bottom: 35px;
}

#section-2-text p {
    text-align: right;
    font-family: "Playfair Display";
    font-size: 1.4vw;
}

#section-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0%;
}

#section-3 h1 {
    margin: 20px auto 20px;
    font-family: "Playfair Display";
    font-size: 4.5vw;
}

#section-3 img {
    width: 72%;
    height: 100%;
    margin: 0 auto 50px;
}

#section-3 p {
    width: 72%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.4vw;
}

#home-page-btn-bottom {
    position: relative;
    display: flex;
    justify-content: center; 
    top: 65px;
    font-family: "Lobster Two";
    font-size: 1.6em;
    height: 70px;
    width: 300px;
    background-color: #FFBCB8;
    border: 3px solid #666666;
    margin: 0 auto 150px;
    cursor: pointer;
    transition: all .3s ease;
}

.side-menu{
    position: absolute;
    left: 297px;
    top: -55px;
    height: 170px;
    width: 300px;
    background-color: #D2EAFF;
    align-items: center;
    opacity: 0;
    transition: all .3s ease;
    border-right: 3px solid #666666;
    border-top: 3px solid #666666;
    border-bottom: 3px solid #666666;
}

.side-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.side-menu a {
    padding: 12px 0;
}

.side-menu a:hover {
    background-color: rgb(240, 248, 255);
}

#home-page-btn-bottom:hover {
    background-color: #D2EAFF;
    border-right: 3px solid #D2EAFF;
}

#home-page-btn-bottom:hover .side-menu {
    opacity: 1;
}

#home-page-btn-bottom:hover span:nth-child(1) {
    transform: translateX(60px) rotate(-50deg);
    
}
#home-page-btn-bottom:hover span:nth-child(2) {
    transform: translateX(60px) rotate(50deg);
}

#home-page-btn-bottom span:nth-child(1) {
    position: absolute;
    right: 10%;
    top: 20px;
    height: 15px;
    width: 2px;
    background-color: black;
    transform: rotate(-50deg);
    transition: all .3s ease;
    z-index: 100;
}

#home-page-btn-bottom span:nth-child(2) {
    position: absolute;
    right: 10%;
    top: 22px;
    height: 15px;
    width: 2px;
    background-color: black;
    transform: rotate(50deg);
    margin-top: 7px;
    transition: all .3s ease;
    z-index: 100;
}

/* Hair page
-------------------------------------------------- */

#hair-banner {
    margin: 22px 5% 30px;
    display: flex;
    justify-content: center;
}

#hair-banner img{
    width: 100%;
}

.content {
    margin: 0 5%;
    margin-bottom: 50px;
}

.line-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.line-box p {
    font-size: 1vw;
    line-height: 0px;
}

.line {
    height: 1px;
    background-color: black;
    width:40%;
}

#hair-intro {
    text-align: center;
    margin: 70px 0;
}

#hair-intro h2 {
    font-family: "Lobster Two";
    font-size: 3em;
    margin-bottom: 40px;
    text-align: center;
}

#hair-intro h5 {
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 1em;
    margin-top: 30px;
}

#hair-intro p {
    font-size: 1.3em;
    margin: 0 auto;
    width: 80%;
}

.hair-services {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.hair-services-box {
    position: relative;
    width: 650px;
    height: 220px;
    background-color: rgb(255, 232, 231);
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    transition: all .3s ease;
    border-bottom: 1px solid rgb(95, 95, 95);
}

.hair-services-box:hover {
    background-color: #D2EAFF;
}

.hair-services-box:hover .hair-services-btn-left {
    background-color: #FFBCB8;
}

.hair-services-box:hover .hair-services-btn-right {
    background-color: #FFBCB8;
}

.hair-services-box:hover .hair-services-bridal-btn {
    background-color: #FFBCB8;
}

.hair-services-box img {
    height: 220px;
    width: auto;
}

.hair-services-box-content {
    display: flex;
    flex-direction: column;
    margin: 5px 30px;
    width: 100%;
    justify-content: center;
}

.hair-services-box-content h2 {
    font-family: "Playfair Display";
    font-size: 2.3em;
    letter-spacing: -0.5px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.hair-services-box-content p {
    font-size: 1.2em;
    text-align: center;
    color: black;
}

.hair-services-box-content a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hair-services-btn-left {
    font-family: "Lobster Two";
    font-size: 1.3em;
    height: 50px;
    width: 200px;
    background-color: #D2EAFF;
    border: 3px solid #666666;
    margin: 20px auto 0;
    cursor: pointer;
    transition: all .3s ease;
}

.hair-services-btn-right {
    font-family: "Lobster Two";
    font-size: 1.3em;
    height: 50px;
    width: 200px;
    background-color: #D2EAFF;
    border: 3px solid #666666;
    margin: 20px auto;
    cursor: pointer;
    transition: all .3s ease;
}

.hair-services-bridal-btn {
    font-family: "Lobster Two";
    font-size: 1.3em;
    height: 50px;
    width: 230px;
    background-color: #D2EAFF;
    border: 3px solid #666666;
    margin: 20px auto;
    cursor: pointer;
    transition: all .3s ease;
}



/* makeup page
---------------------------------------------- */

#makeup-banner {
    margin: 23px 5% 30px;
    display: flex;
    justify-content: center;
}

#makeup-banner img{
    width: 100%;
}

#makeup-intro {
    text-align: center;
    margin: 70px 0;
}

#makeup-intro h2 {
    font-family: "Lobster Two";
    font-size: 3em;
    
    margin-bottom: 40px;
    text-align: center;
}

#makeup-intro p {
    font-size: 1.3em;
    margin: 0 auto;
    width: 80%;
}

#makeup-intro h5 {
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 1em;
    margin-top: 30px;
}

.makeup-services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.makeup-services-box {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: rgb(255, 232, 231);
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    transition: all .3s ease;
    border-bottom: 1px solid rgb(95, 95, 95);
}

.makeup-services-box-mobile {
    position: relative;
    width: 375px;
    height: 500px;
    background-color: rgb(255, 232, 231);
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    transition: all .3s ease;
    border-bottom: 1px solid rgb(95, 95, 95);
    display: none;
}

.makeup-services-box-mobile img {
    height: 202px;
    width: auto;
}

.makeup-services-mobile-button {
    position: absolute;
    left: 100px;
    bottom: 40px;
    font-family: "Lobster Two";
    font-size: 1.3em;
    height: 50px;
    width: 180px;
    background-color: #D2EAFF;
    border: 3px solid #666666;
    margin: 30px auto 0;
    cursor: pointer;
    transition: all .3s ease;
}

.makeup-services-mobile-content{
    text-align: center;
}

.makeup-services-mobile-content h2 {
    font-family: "Playfair Display";
    font-size: 1.5em;
    letter-spacing: -0.5px;
    font-weight: bold;
    text-align: center;
    margin: 20px auto;
}

.makeup-services-mobile-content p {
    font-size: 1.2em;
    margin-top: 20px auto;
}

.makeup-services-box:hover {
    background-color: #D2EAFF;
}

.makeup-services-box:hover .makeup-services-btn {
    background-color: #FFBCB8;
}

.makeup-services-box img {
    height: 200px;
    width: auto;
}

.makeup-services-box-content {
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: left;
    margin: 20px 0 0 60px;
}

.makeup-services-box-content h2 {
    font-family: "Playfair Display";
    font-size: 2.5em;
    letter-spacing: -0.5px;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
}

.makeup-services-box-content p {
    font-size: 1.2em;
    margin-top: 20px;
}

.makeup-services-btn {
    position: absolute;
    right:3%;
    top: 40px;
    font-family: "Lobster Two";
    font-size: 1.3em;
    height: 70px;
    width: 20%;
    background-color: #D2EAFF;
    border: 3px solid #666666;
    margin: 30px auto 0;
    cursor: pointer;
    transition: all .3s ease;
}
/* 
prices page
------------------------------------------------- */

#prices-content {
    display: flex;
    flex-direction: row;
}

#prices-content img {
    width: 48%;
    height: 100%;
    top: 92px;
    left: 0;
}

.price-list {
    top: 160px;
    width: 40%;
    margin-left: 60px;
    margin-top: 50px;
}

.price-list h1 {
    font-family: "Abril Fatface";
    font-size: 4.4em;
    margin-bottom: 50px;
}

.price-list h3 {
    font-family: "Lobster Two";
    font-size: 2.6em;
    margin-top: 30px;
}

.price-list p {
    font-size: 1.2em;
    margin-top: 15px;
}

.prices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#prices-page-btn-bottom {
    display: flex;
    justify-content: center; 
    font-family: "Lobster Two";
    font-size: 1.6em;
    height: 70px;
    width: 300px;
    background-color: #FFBCB8;
    border: 3px solid #666666;
    margin: 50px auto;
    cursor: pointer;
    transition: all .3s ease;
}

/* bridal page 
---------------------------------------- */

#bridal-banner {
    margin: 22px 5% 30px;
    display: flex;
    justify-content: center;
}

#bridal-banner img{
    width: 100%;
}

.bridal-content {
    text-align: center;
    margin: 0 5%;
    margin-bottom: 50px;
}

.bridal-text {
    font-size: 1.2vw;
    margin: 0 auto;
    width: 80%;
}

.bridal-content h1 {
    font-family: "Lobster Two";
    font-size: 2vw;
    margin: 80px 0;
}

#bridal-page-btn-bottom {
    display: flex;
    justify-content: center; 
    font-family: "Lobster Two";
    font-size: 1.6em;
    height: 70px;
    width: 300px;
    background-color: #FFBCB8;
    border: 3px solid #666666;
    margin: 0 auto;
    cursor: pointer;
    transition: all .3s ease;
}

#bridal-page-btn-bottom:hover {
    background-color: #D2EAFF;
}

/* about page
------------------------------------- */

#about-page-content {
    margin: 0 20%;
}

#about-banner {
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #FFF1F0;
    border-bottom: 2px solid #666666;
}

#about-banner h1 {
    font-family: "Lobster Two";
    font-size: 3em;
    margin-top: 50px;
}

#about-banner img{
    width: 100%;
}

#about-banner p {
    margin: 40px auto 0;
    width: 75%;
}

#about-page-btn-bottom {
    display: flex;
    justify-content: center; 
    font-family: "Lobster Two";
    font-size: 1.6em;
    height: 70px;
    width: 300px;
    background-color: #FFBCB8;
    border: 3px solid #666666;
    margin: 30px auto;
    cursor: pointer;
    transition: all .3s ease;
}

#about-page-btn-bottom:hover {
    background-color: #D2EAFF;
}

#opening-hours {
    margin: 25px auto;
    padding: 30px 0;
    background-color: #FFF1F0;
    font-size: 3vw;
    border-bottom: 2px solid #666666;
    
}

#opening-hours h1 {
    font-family: "Lobster Two";
    text-align: center;
    margin-bottom: 50px;
}

#hours-container {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

.day {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.day p {
    margin-top: 0;
    margin-bottom: 15px;
}

.dash div{
    height: 2.5px;
    width: 60px;
    margin-top: 18px;
    margin-bottom: 78%;
    background-color: rgb(112, 112, 112);
    
}

.hours p {
    font-size: 27px;
    margin-top: 0;
    margin-bottom: 12px;
}

#legal {
    margin: 25px auto;
    padding: 30px 0;
    padding-bottom: 50px;
    background-color: #FFF1F0;
    font-size: 3vw;
    border-bottom: 2px solid #666666;
    text-align: center;
}

#legal h1 {
    font-family: "Lobster Two";
    text-align: center;
    margin-bottom: 60px;
}

#legal h2 {
    font-family: "Playfair Display";
    font-size: 40px;
    margin-bottom: 30px;
}

#legal p {
    font-size: 20px;
    margin: 0 auto;
    width: 80%;
}

@media only screen and (max-width: 1250px) {

    /* home page
    --------------------------------------- */
    .button {
        top: -100px;
        left: 60px;
        width: 30%;
        height: 70px;
        font-size: 2vw;
    }

    #section-1-text p {
        font-size: 1.5vw;
    }

    #nav-links {
        display: none;
    }

    .menu-wrap {
        display: block;
    }

    .logo-container {
        top: 13px;
        left: 50%;
        margin-left: -107px;
    }

    .logo-container h2 {
        font-size: 2.5em;
        font-weight: normal;
    }
    
    #essex {
        font-family: "Cinzel";
        font-size: 6px;
        letter-spacing: 7px;
        margin-top: 10px;
    }
    
    #dot {
        height: 3px;
        width: 3px;
        border-radius: 100%;
        background-color: #404040;
        position: absolute;
        left: 50%;
        margin-left: -2.5px;
        margin-top: 5px;
    }
    
    #nav-logo-sml {
        font-family: "Cinzel";
        font-size: 11px;
        letter-spacing: 9.5px;
        line-height: 10px;
    }

    .top-nav {
        height: 120px;
    }

    .social-icons-box {
        display: block;
    }

    /* hair page
    ----------------------------------- */

    .hair-services {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .hair-services-box {
        width: 100%;
        margin: 10px 0;
    }

    .hair-services-box-content {
        justify-content: center;
        margin: 0 auto;
        width: auto;
    }

    .hair-services-box img {
        display: flex;
    }

/* 
    makeup page
    ----------------------------------------- */

    .makeup-services-box-content h2 {
        font-size: 1.5em;
    }

    .makeup-services-box-content p {
        font-size: 1em;
        width: 70%;
    }

   /*  prices page 
    --------------------------------------------- */

    .price-list h1 {
        font-size: 2.5em;
    }

    .price-list h3 {
        font-size: 2em;
    }

    .prices {
        font-size: 1em;
    }

    /* about page
    ----------------------------------------------- */

    #about-page-content {
        margin: 0 10%;
    }

    #hours-container {
        width: 75%;
    }
}

@media only screen and (max-width: 850px) {

   /*  home page
    ----------------------------------- */

    #dropdown {
        display: none;
    }

    #section-1 {
        padding: 40px 5%;
    }
    
    #section-1 img {
        width: 50%;
    }

    #section-2 img {
        width: 50%;
    }

    #section-1-text p {
        font-size: 2vw;
    }

    #section-2 {
        padding: 40px 5%;
    }
    
    #section-2 img {
        width: 50%;
    }

    #section-2-text p {
        font-size: 2vw;
    }

    #section-3 p {
        font-size: 2vw;
    }

    .button {
        height: 60px;
    }

    #home-page-btn-bottom {
        display: none;
    }

    #section-3 {
        margin-bottom: 70px;
    }

    /* hair page 
    ------------------------------------------- */

    #hair-banner {
        margin: 0 0 30px;
        display: flex;
        justify-content: center;
    }

   /*  makeup page 
    ----------------------------------------- */

    #makeup-banner {
        margin: 0 0 30px;
    }

    .makeup-services-box {
        display: none;
    }

    .makeup-services-box-mobile {
        display: block;
    }

    #makeup-intro p{
        width: 100%;
    }

  /*   bridal page
    ---------------------------------------------- */

    #bridal-banner {
        margin: 0 0 30px;
    }

    .bridal-content h1 {
        margin: 50px 0;
        font-size: 5vw;
    }

    .bridal-text {
        font-size: 2.4vw;
    }

    #bridal-page-btn-bottom {
        height: 60px;
        width: 270px;
    }

    /* prices page
    ------------------------------------------------ */

    #prices-content img {
        display: none;
    }

    .price-list {
        width: 80%;
    }

}

@media only screen and (max-width: 555px) {

    .social-icons-box {
        display: none;
    }

}

@media only screen and (max-width: 425px) {

    /* home
    ------------------------------------------ */

    #mobile-button {
        display: block;
    }

    #dot {
        display: none;
    }

    .logo-container p {
        display: none;
    }

    .banner {
        display: none;
    }

    .mobile-banner {
        display: block;
    }

    .footer-link-box {
        display: none;
    }

    #footer-container h5 {
        font-size:.5em;
        left: 50%;
        margin-left: -106px;
        top: 140px;
    }

    .footer {
        height: 160px;
    }

    #footer-signiture {
        top: 10px;
    }

    .social-icons-footer {
        top: 70px;
    }

    .menu-wrap {
        position: absolute;
        top: 0px;
        left: 70px;
        z-index: 150;
    }
    
    .menu-wrap .toggler {
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 151;
        width: 50px;
        height: 50px;
        opacity: 0;
        cursor: pointer;
    }

    .menu-wrap .hamburger {
        width: 30px;
    }

    .top-nav {
        height: 70px;
    }

    .logo-container {
        top: 0px;
    }

    .intro-text {
        width: 90%;
        margin: 30px auto;
    }

    .intro-text p {
        font-size: 1em;
        line-height: 30px;
    }

    #section-1 {
        padding: 30px 0;
        padding-bottom: 5px;
        flex-direction: column;
        align-items: center;
    }

    #section-1-text {
        width: 90%;
        text-align: center;
    }

    #section-1-text p {
        font-size: 1em;

    }
    
    #section-1 h1 {
        margin: 0 auto;
        margin-bottom: 20px;
        text-align: center;
        font-size: 3em;    
    }

    #section-1 img {
       display: none;
    }

    #section-2 {
        padding: 30px 0;
        padding-bottom: 5px;
        flex-direction: column;
        align-items: center;
    }

    #section-2-text {
        width: 90%;
        text-align: center;
    }

    #section-2-text p {
        font-size: 1em;
        text-align: center;
    }
    
    #section-2 h1 {
        margin: 0 auto;
        margin-bottom: 20px;
        text-align: center;
        font-size: 3em;    
    }

    #section-2 img {
        display: none;
    }

    #section-3 {
        margin-bottom: 0;
    }

    #section-3 h1 {
        font-size: 3em;
        margin-top: 0px;
    }

    #section-3 p{
        font-size: 1em;
        width: 90%;
    }

    #section-3 img {
        width: 95%;
    }

   /*  hair page
    ---------------------------------------- */

    #hair-banner {
        display: none;
    }

    .line-box {
        display: none;
    }
    
    .content {
        margin: 10px 0;
    }

    #hair-intro {
        margin: 25px auto;
    }

    #hair-intro p {
        width: 90%;
        font-size: 1em;
    }

    .hair-services-box img {
        display: none;
    }

    .hair-services-box {
        border: none;
    }

    /* makeup page
    -------------------------------------------- */

    #makeup-banner {
        display: none;
    }

    #makeup-intro {
        margin: 25px auto;
    }

    #makeup-intro p {
        width: 90%;
        font-size: 1em;
    }

    /* bridal page 
    ----------------------------------------- */

    #bridal-banner {
        display: none;
    }

    .bridal-content {
        margin: 25px 0;
    }

    .bridal-content h1 {
        margin: 25px 0;
        margin-bottom: 35px;
        font-size: 1.5em;
    }

    .bridal-content p {
        font-size: 1em;
        width: 90%;
    }

    /* prices page 
    ----------------------------------- */

    .price-list {
        margin: 40px auto;
    }

    .prices p {
        font-size: 1em;
    }

    /* about page 
    -------------------------------------- */

    #about-page-content {
        margin: 20px 0;
    }

    #about-banner p {
        margin: 40px auto 0;
        width: 90%;
    }

    #opening-hours h1 {
        font-size: 3em;
    }

    #legal h1 {
        font-size: 3em;
    }

    #legal h2 {
        font-size: 2em;
    }

    #hours-container {
        width: 100%;
    }

    .day {
        font-size: 20px;
    }

    .hours {
        font-size: 1.5em;
    }
}
